#QuestionCard{
    display: flex;
    text-align: left;    
    flex-direction: column;
    background-color: #e5e5e5;
    width: 70rem;
    border-radius: 6px;
    margin:1%;    
}
#answerCard{
    background-color: white;
    margin: 1%;
    border-radius: 4px;
    text-align: end;    
}
#eliminarPregunta {
    align-self: flex-end;
    width: 2rem;
    height: 2rem;
}

#contenedorQuestion {
    display: flex;
    flex-direction: column;
    width: 70rem;
}
#contenedorimagen {
    display: flex;
    flex-direction: row;
}