#QuestionCard{
    display: flex;
    text-align: left;
    flex-direction: column;
    background-color: #e5e5e5;
    width: -webkit-fill-available;
    border-radius: 6px;
    margin:1%
}

#answerCard{
    background-color: white;
    margin: 1%;
    border-radius: 4px;
    text-align: end;
}