#PanelPublicationsContainer{
    background-color: blue;
    width: 50%;
    display: flex;
    flex-direction: column;
}
   
.ProductPanelContainer{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MuiBox-root-271{
    height: auto !important;
}