.SalesPanelContainer{
    display: flex;
    flex-direction: row;
    min-height: 747;
    height: auto;
   }

   .ProductPanelContainer{
       height: auto;
       display: flex;
   }
   .ProductPanelContainer>*{
       
   }
   
