#ModalPCBUILDER{
    margin-top: 3.5rem;
    margin-left: 9rem;
    height: 53rem;
    width: 100rem;
}

#CardsComponentesAñadidos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#TotalMODALPCBUILDER{
    position: absolute;
    left: 20rem;
    top: 53rem;
    width: 78rem;
    display: flex;
    text-align: center;
}

#TotalMODALPCBUILDER>*{
    margin-left: 5rem;
}

#AgregarAlcarritoPCBUILDER{
    margin-left: 5rem;
    color: white;
    background-color: green;
}