#ProfileForm_NameAndSub{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#ProfileForm_NameAndSub>*{
    margin-right: 20px;
    margin-left: 20px;
}

#MobileForm{
    margin-right: 14.5rem;
}

#FormProfileContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7%;
}

#Email_Form{
    margin-right: 30rem;
}

#PerfilError1{
    color:red;
    width: 42%;
}

#PerfilError2{
    color:red;
    width: 42%;
}

#PerfilErrorEmail{
    color:red;
    position: absolute;
    top: 29rem;
}
#PerfilError1-2{
    width: 16%;
}


#ProfileErrorsMain{
    width: 430px;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 25rem;

}

#ProfileErrors>*{

}

#ButtonPassword{
    margin-top: 10px;
}

#ButtonPasswordChange{
    position: absolute;
    top: 42rem;

}