#CategoryFilters{
    background-color: #dfdfdf;
    width: 31%;
    min-height: 1200px;
}

#Resultados{
    margin-right: 70px;
}


#ContainerGroupCategory{
    margin: 0;
    padding: 0;
    margin-left: 2vh;
    text-align: left;
    background-color: #dfdfdf;
}

#CategoryType{
    width: 239px;
    height: auto;
    margin-top: 70px;
    
}

#CategoryShipping{
    width: 239px;
    height: auto;
    text-align: left;  
}

#CategoryCondition{
    width: 239px;
    height: auto;
  
}

#CategoryPrice{
    width: 239px;
    height: 130px;
    
}

#CategoryBrand{
    width: 239px;
    height: auto;

}

#btnheart{
    border: none;
    background: white;
}

.optionFilter{
    border: none;
    background-color: transparent;
}

li{
    list-style: none;
}

#ListOfTypes{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 17.5px;
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
}

#outlined-basic{
    width: 70px;
    height: 1px;
    margin-bottom: 5px;
    
}

#ButtonPrice{
    max-width: 500rem;
    min-width: 0px;
    margin-top: 3px;
}


#formPrice{
    display: flex;
    flex-direction: row;
}

#btnheart{
    border: none;
    background: white;

}