.DetailContainer{
    display: flex;
    flex-direction: row;
    background-color: white;
    height: auto;
   }
   
.CartCard{
    width: 60%;
}
.secondConainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
