.DetailContainer{
    display: flex;
    flex-direction: row;
    background-color: white;
   }

#DetailContainer{
    width: 80%;
    height: auto;
}

#HistorialDeCompras{
    background-color: rgb(240, 240, 240);
    padding: 1rem;
    width: 80%;
}
   
