.DetailContainer{
    display: flex;
    flex-direction: row;
    background-color:#efefef
   }
   
   
   #ContentDetail{
       width: 80%;
       margin-top: 2%;
    background-color:#efefef
   }
   
   #SecondNav{
       height: 80px;
       background-color: mediumaquamarine;
   }
   
   
   #FirstSection{
   display: flex;
   flex-direction: row;
   }
   
   #ProductInfo{
    width: 35%;
    height: auto;
    background-color: #efefef;

   }
   
   #ImagesAndSimilars{
       width: 75%;
       height: 800px;
   }
   
   #Images{
   height: auto;
   background-color:plum;
   }
   
   #Similars{
    height: 61%;
    background-color: #f9f9f9;
    margin-top: 1%;
   }
   
   
   
   #SecondSection{
       display: flex;
       flex-direction: row;
       height: 850px;
   }
   
   #Description{
    width: 75%;
    background-color: #f9f9f9;
    border-radius: 14px;
    margin-right: 8px;
    margin-top: 19%;
   }
   
   #SellerInfo{
       width: 35%;
       background-color: seagreen;
   }
   
   #Questions{
       height: 800px;
       background-color:steelblue;
   }
   #similarCard{
    display: flex;
   }