.DetailContainer{
    display: flex;
    flex-direction: row;
    background-color:#efefef
   }
   
   
   #ContentDetail{
       width: 80%;
       margin-top: 2%;
    background-color:#efefef
   }
   
   #SecondNav{
       height: 80px;
       background-color: mediumaquamarine;
   }
   
   
   #FirstSection{
   display: flex;
   flex-direction: row;
   }
   
   #ProductInfo{
    width: 35%;
    height: auto;
    border-radius: 10px;
    background-color: #f9f9f9;
    margin-left: 1%;

   }
   
   #ImagesAndSimilars{
       width: 75%;
       height: 800px;
   }
   
   #Images{
   height: auto;
   background-color:plum;
   }
   
   #Similars{
    height: 70%;
    background-color: #f9f9f9;
    margin-top: 1%;
   }
   
   
   
   #SecondSection{
       display: flex;
       flex-direction: row;
       height: 850px;
   }
   
   #Description{
    width: 69%;
    background-color: #f9f9f9;
    border-radius: 14px;
    margin-right: 8px;
    margin-top: 26%;
    padding:2%
   }
   
   #SellerInfo{
    width: 31%;
    background-color: #f9f9f9;
    border-radius: 22px;
    margin-top: 2%;
   }
   
   #Questions{
    height: auto;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin-top: 1%;
    padding-right: 5%;
    padding-left: 5%;
   }
   #similarCard{
    display: flex;
    justify-content: center;
   }