.VerticalTabContainer{
    height: auto;
}

.Test1{
    background-color: #E5E5E5;
    width: 20%;
}

.MuiTabs-flexContainerVertical{
    margin-top: 5rem;
    height: 100%;
    display: flex;

}

#TestPadding{
    padding:0px;
}

.Pepito{
    padding:0px;
}

