.VerticalTabContainer{
    height: auto;
}

.Test1{
    background-color: #E5E5E5;
    width: 20%;
}

.MuiTabs-flexContainerVertical{
    margin-top: 5rem;
    height: 100%;
    display: flex;

}

#TestPadding{
    padding:0px;
}

.Pepito{
    padding:0px;
}

#ProductsCategoryAdmin{
    display: flex;
    background-color: gainsboro;
    border-radius: 23px;
    height: auto;
    min-height: 658px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-start;
    max-width: 99%;
    box-shadow: 0 1px 8px 3px rgb(123 119 119 / 51%);
}

#FiltersCategoryAdmin{
    display: flex;
    justify-content: space-around;
    margin: 2%;
    align-items: center;
}

#headerCategoryADmin{
display: flex;
    justify-content: space-between;
    width: 57%;
}

#selectCategoryAdmin{
    display: flex;
    align-items: center;
}
#buttonsCategoryAdmin{
    display: flex;
    flex-direction: column;
}
#ProductAdminCard{
    margin-top: 2%;
    width: 42%
}
#MyProductCardOfPublicationAdmin{
    background-color: white;
    /* width: 96%; */
    border-radius: 14px;
}
#MyProductCardContainerPublicationAdmin{
    display: flex;
    box-shadow: -4px 3px 10px 0px rgb(128 128 128 / 31%);
    background: rgb(255 255 255 / 90%);
    border-radius: 5px;
    /* width: 50%; */
    height: auto;
    justify-content: space-evenly;
}
#MyProductButtonsAdmin{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: flex-end;
    margin-right: 1%;
}
#SelectCategoryAdmin{
    font-size: 1.5rem;
    width: 16rem;
    margin: 2%;
    border: none;
    background-color: #e6e6e6;
    padding: 3%;
    border-radius: 9px;
    box-shadow: 0 1px 8px 3px rgb(123 119 119 / 51%);
}
.MuiTabs-root{
overflow: inherit !important;
    min-width: 204px !important
}
.makeStyles-root-173{
    height: auto !important
}
.card-body{
    flex: 1 1 auto;
    margin: 1% !important;
    min-height: 1px;
    display: flex;
    padding: 1.25rem;
    flex-direction: row;
    justify-content: space-around !important;
    align-items: center !important;
    
}
#descriptionPC{
    display: flex;
    width: 51%;
    flex-direction: column;
    background-color: #80808021;
    justify-content: space-between;
    padding: 1%;
    border-radius: 16px;
}
#btnAdminPc{
    display: flex;
    height: 8rem;
    align-items: flex-end;
}
#ModalContainer3{
    height: 39rem;
    width: 50rem;
}
.MuiInputBase-root {
    width: 103% !important
}