#CardPC{
    width: 26rem;
    height: 11rem;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 10px;
}

#CardPC_Left{
   width: 50%;
   height: 100%;
}
#CardPC_IMG{
    width: 10rem;
    height: 11rem;
}
#CardPC_1{
height: 60%;

}
#CardPC_2{
height: 40%;
display: flex;
flex-direction: column;
align-items: center;
}

#CardPC_Right{
    width: 50%;
    height: 100%;
    background-color: rgb(243, 243, 243);
}

#EnvioGratis{
    color: green;
}