#register {
    font-size: 1.3rem;
    font-weight:lighter;
    margin: 0;
    font-size: 3.3rem;
    font-weight: lighter;
    padding: 1rem;
    display: block;    
    display: block;
    width: 100%;
    font-family: 'Bebas Neue';

}
#botonFacebook {
    font-size: 1.7rem;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #3172b6;
    color: white;
    border:none;
    font-weight:bold;
    margin-right: 0.5rem;
    
}
#botonGoogle {
    font-size: 1.7rem;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #0f77fe;
    color: white;
    border:none;
    font-weight:bold;
}
#registerBox {    
    width: 30rem;
    padding: 1%;
    /* height: 38rem; */
    /* width: 31rem; */
    /* height: 40rem; */
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    background: white;
    z-index: 999999;
    background: white;
    border-radius: 11px;
    box-shadow: 1px 1px 11px 6px #717171;
}
#containerName {
    display: flex;
    z-index: 999999;
}
#containerName {
    display: flex;
    justify-content: space-around;
}
#checkboxTerms {
    width: 18px;
    height: 18px;
    margin-right: 1rem;
}

.superposition {
    height: 100%;
    width: 100%;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}
.contenedorX{
    display: flex;
    justify-content:flex-end; 
}
.containerButtons {
    /* padding: 0;
    margin: 0;
    padding-top: 1rem;*/
    padding-top: 1rem;
    display: flex;
    width: 100%;
    justify-content:center; 
}
.subtitle {
    padding: 0;
    margin: 0;
    text-align: start;    
}
.subtitleName {
    padding: 0;
    margin: 0;
    text-align: start;    
}

.contenedorLinks {
    text-align: center;
}
.containerColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.links {
    color: black;
    font-weight:bold;
    font-size: 0.7rem;
    padding: 0;
    margin: 0;
    
}
.submit {    
    padding-top: 1rem;
    display: flex;
    width: 8rem;
    justify-content: center;
    width: 100%;
}
.inputsRegister {
    width: 100%;
    border: 1px solid rgb(202, 191, 191);
    margin-bottom: 1.5rem;
    font-size: 0.8rem;
    border-radius: 10px;
    padding: 0.5rem;
}
.inputsRegister:hover{
    border-color: darkorange;
}
.buttonInitiate{
    width: 8rem;
    width: 12rem;
    height: 3rem;
    background: #0e8bfe;
    background: #ffc107;
    border: none;
    color: white;
    border-radius: 10px;
    font-size: 1.5rem;
}
.buttonInitiate:hover{
    background-color: black;
}