
#ContainerImages{
    padding: 23px;
    background-color: white;
}

#MiniImages{
width: 20px;
position: relative;
bottom: 29rem;
left: 3rem;
}


#LargeImage{
    position: relative;
    left: 6rem;
    top: 20px;

}