
#X{
    width: 2rem;
    height: 2rem;
    font-size: 1.2rem;
    color: red;
    border-radius: 50%;
    border-color: transparent;
}
#loginBox {    
    width: 27rem;
    height: 36rem;  
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;    
    background: white;
    border-radius: 3px;
}

#login {
    background:#8fb8ff;
    font-size: 1.3rem;
    font-weight:lighter;    
    padding: 1rem;
    display: block;    
    width: 100%;
    
}
#botonFacebook {
    font-size: 1.7rem;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #3172b6;
    color: white;
    border:none;
    font-weight:bold;
    margin-right: 0.5rem;
    
}
#botonGoogle {
    font-size: 1.7rem;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #0f77fe;
    color: white;
    border:none;
    font-weight:bold;
}
.superposition {
    height: 100% !important;
    width: 100% !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
    position: fixed !important;
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    /* opacity: 0.8 !important; */
    z-index: 5000 !important;
    overflow: hidden !important;
}

.notScrollable {
    overflow: hidden;
    position:fixed;
    width: 100%;
}

.contenedorX {
    display: flex;
    justify-content:flex-end; 
}
.containerButtons {
    /* padding: 0;
    margin: 0;
    padding-top: 1rem;*/
    padding-top: 1rem;
    display: flex; 
    width: 100%;
    align-items: center;
    justify-content: center;
}
.subtitle {
    padding: 0;
    transform: translate(3rem);
    text-align: start;
    
}

.contenedorLinks {
    text-align: center;
}
.links {
    color: black;
    font-weight:bold;
    font-size: 0.7rem;
    
}
.submit {    
    padding-top: 1rem;
    display: flex;
    width: 8rem;
    justify-content: center;
    width: 100%;
}
.submit {    
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 0.8rem;
}
.submit input:disabled {
    opacity: 0.5;
}
.inputslogin {
    width: 80%;
    border: 1px solid rgb(202, 191, 191);
    margin-bottom: 1.5rem;
    font-size: 0.8rem;
    padding: 0.5rem;
}
.buttonInitiate{
    width: 8rem;
    height: 3rem;
    background: #0e8bfe;
    border: none;
    color: white;
    font-size: 1.5rem;
}
