#MyProductCard{
    background-color: white;
    width: 55rem;
    border-radius: 14px;
    align-items: center;
    display: flex;
}
#MyProductCardsContainerGral{
    height: 10rem;
}

    #MyProductCardContainer{
        display: flex;
        box-shadow: -4px 3px 10px 0px rgb(128 128 128 / 31%);
        background: rgb(255 255 255 / 90%);
        border-radius: 5px;
        width: 100%;
        height: auto;
         justify-content: space-evenly;
         margin-bottom: 10rem;
        
    }
    
    .MyProduct-details0 {
        font-size: 14px;
        position: relative;
        text-align: left;
        padding: 20px;
        height: 100%;
        float: left;
        }
        
        
        
        #MyProductName{
        font-size: 1rem;
        }
        #SalesAndStock{
            color: grey;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }
        #container .product-details > p {
            text-align: left;
            font-size: 15px;
            color: #7d7d7d;
        }
       
        #seller{
            margin-bottom:0px
        }
        #price{
            display:flex
        }
        #price span{
            text-decoration: line-through;
            color: gray;
            margin: 3%;
        }
        #link0{
            width: 15rem;
        }

        #MyProductImage{
            height:150px;
            width: 150px;
        }
        
        #MyProductButtons{
            display: flex;
    flex-direction: column;
    justify-content: space-evenly;
            align-content: flex-end;
            margin-right: 1rem;
        }
        
        #ModalContainerProducts{
           display: absolute;
        }
        #EstadoH5_0{
            color: grey;
            margin-right: 0.5rem;
        }
        #EstadoH5{
            color: red;
        }
        #ProductStateDiv{
            display:flex;
        }




        #ProductInfoContainerForm{
            display: flex;
            flex-direction: row;
            
        }


        #WarrantyTextField0{
            background-color: green;
            width: 8rem;
        }
        #StockTextField{
            width: 4rem;
        }
        #DiscountTextField{
            width: 8rem;
        }



#MoldalContainer2{
    height: 40rem;
    width: 65rem;
}
#Form1_Container{
    display: flex;
    
}
    #Form1_Left{
        padding: 0.5rem;
        width: 50%;
        display: flex;
        flex-direction: column;
    }   
        #Form1_Name{
        }
        #Form1_NameAndX{
            display: flex;
            justify-content: space-between;

        }
        #Form1_ImageAndInputs{
            display: flex;
            flex-direction: row;
            margin-bottom: 0.5rem;
        }
            #Form1_ImageAndInputs_1{
                margin-right: 0.5rem;
                margin-top: 0.5rem;

            }
                #Form1_Image{
                    width: 15rem;
                }

            #Form1_ImageAndInputs_2{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width:  17rem;
            }
                #Form1_Category{
                    width: 14rem;
                }


        #Form1_Description{
            width: 15rem;
            height: 10rem;
            justify-items: left;
            align-content: flex-start;
        }
        #Form1_LoadImage{
            margin-top: 1rem;
            margin-left: 4rem;
        }


    #Form1_Right{
        padding: 0.5rem;
        width: 50%;
        display: flex;
        flex-direction: column;
    }


#Form1_BotonGuardarCambios{
    margin-top: -0.2rem;
    margin-left: 41rem;
}