.ContainerNavBar{
    background-color: #FCA311 ;
}

#backgroundColor{
    background-color: #FCA311 ;
}

#navcontainer>*{
   display: flex;
   flex-direction: row;
}

#MenuContainer>*{
    margin-left: 180px;
}

#UserContainer{
    margin-left: 750px;
}