.ContainerNavBar{
    background-color: #FCA311 ;
}

#backgroundColor{
    background-color: #FCA311 ;
}

#navcontainer>*{
   display: flex;
   flex-direction: row;
   height: 100%;
   margin-left: 10rem;
}

#MenuContainer>*{
    margin-left: 180px;
}

#UserContainer{
    margin-left: 70px;
}

#CarritoAndFavorito{
    display: flex;
}

#UserPanelNavBar{
    display: flex;
    margin-left: 30rem;
}

#UserPanelNavBar>*{
    margin-left: 1rem;
}

#OfertasPCyCategorias{
    display: flex;
}

#OfertasPCyCategorias>*{
    margin-left: 15rem;
}