.ContainerNavBar{
    background-color: #000000 ;
}

#backgroundColor{
    background-color: #000000 ;
}

#navcontainer>*{
   display: flex;
   flex-direction: row;
   height: 100%;
   margin-left: 10rem;
}

#MenuContainer>*{
    margin-left: 180px;
}

#UserContainer{
    margin-left: 70px;
}

#CarritoAndFavorito{
    display: flex;
}

#UserPanelNavBar{
    display: flex;
    margin-left: 30rem;
}

#UserPanelNavBar>*{
    margin-left: 1rem;
}

#OfertasPCyCategorias{
    display: flex;
}

#OfertasPCyCategorias>*{
    margin-left: 15rem;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(255 255 255) !important
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #fca42e  !important
}

#CorazonCargado{
    
}